/* style.module.css */
.container {
  margin: 0 auto;
  max-width: 960px;
}

.navbar {
  background-color: navy;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbarList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarListItem {
  margin: 0;
}

.navLink {
  color: white;
  text-decoration: none;
  margin-left: 2rem;
}

.hero {
  background-color: blue;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroTitle {
  font-size: 4rem;
  text-align: center;
  margin-top: 0;
  color: white;
}

.heroText {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 2rem;
  color: white;
  padding: 5rem;
}

.footer {
  background-color: navy;
  height: 5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}